table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}

th, td {
    border: 1px solid silver;
}

.employee_title {
    margin: auto;
    margin-bottom: 25px;
}

.employee_title h1 {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
}

.new_employee_button {
    margin: auto;
    width: 230px;
    height: 55px;
    background: linear-gradient(203.5deg, #0038FF -74.55%, rgba(217, 217, 217, 0.69) 92.19%);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.new_employee_button p {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

@media(max-width:540px){
    table {
        margin-bottom: 0;
    }
}