.new_employee_title {
    margin: auto;
    margin-bottom: 30px;
}

.new_employee_title h2 {
    text-align: center;
    font-weight: 700;
    font-size: 62px;
}

.InputField {
    width: 500px;
    margin: auto;
    margin-bottom: 35px;
}

.InputField input {
    width: 100%;
    height: 45px;
    border-radius: 25px;
    padding-left: 25px;
    font-size: 18px;
    border: 1px solid #9B9999;
    box-sizing: border-box;
}

.SubmitButton, .CancelButton {
    margin: auto;
    height: 85px;
    width: 500px
}

.CancelButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(203.5deg, #FF0000 -74.55%, rgba(217, 217, 217, 0.69) 92.19%, rgba(217, 217, 217, 0.69) 92.2%);
    border-radius: 25px;
    border: none;
    margin-bottom: 120px;
}

.CancelButton p {
    font-size: 28px;
    font-weight: 700;
}

.SubmitButton {
    margin-bottom: 20px;
}

.SubmitButton button {
    background: linear-gradient(180deg, #00FF47 -120.55%, rgba(217, 217, 217, 0.69) 92.19%);
    font-size: 28px;
    border-radius: 25px;
    font-weight: 700;
    border: none;
    width: 100%;
    height: 100%;
}

@media (max-width: 540px) {

    .new_employee_title h2 {
        font-size: 42px;
    }

    .SubmitButton, .CancelButton {
        width: 90vw;
    }
    .CancelButton {
        margin-bottom: 0;
    }

    .InputField {
        width: 90vw;
    }
}

@media (max-height:800px){
    main {
        margin: 80px 0 80px 0;
    }
}