.employee_information {
    margin-top: 120px;
    justify-content: center;
}

.employee_company, .employee_name, .employee_email {
    text-align: center;
}

.employee_company {
    font-size: 62px;
    font-weight: 700;
}

.employee_name, .employee_email {
    font-size: 36px;
    font-weight: 500;
}

.create_qr_code {
    margin: auto;
    margin-top: 60px;
    width: 360px;
    height: 85px;
    background: linear-gradient(203.5deg, #0038FF -74.55%, rgba(217, 217, 217, 0.69) 92.19%);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create_qr_code p {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}

@media (max-width: 900px){
    
    .employee_company {
        font-size: 52px;
    }
    .employee_name, .employee_email {
        font-size: 30px;
    }
    .create_qr_code{
        margin-top: 40px;
        height: 70px;
        width: 300px;
    }
    .create_qr_code p {
        font-size: 24px;
    }
}

@media (max-width: 540px){
   
    header{
        margin-bottom: 0;
    }
    .employee_information {
        margin: 0;
    }
    .employee_company {
        font-size: 36px;
    }
    .employee_name, .employee_email {
        font-size: 20px;
        line-height: 30px;
    }
    .create_qr_code {
        margin-top: 40px;
        height: 60px;
        width: 250px;
    }
    .create_qr_code p {
        font-size: 20px;
    }
}